<h1>Enter a task</h1>
<form [formGroup]="taskForm">
  <div>
    <label>
      Task name:
      <input type="text" formControlName="taskName">
      <button (click)="taskClick()">Create Task</button>
    </label>
  </div>

  <div>
    <input type="text" formControlName="reqToAdd">
    <input type="number" formControlName="quantityToAdd">
    <button (click)="reqClick()">Add Requirement</button>
  </div>
  Requiremets so far
  <div *ngFor="let req of taskForm.controls.requirements.controls; index as i">
    <input [formControl]="taskForm.controls.requirements.controls[i].controls.reqName">
    <input [formControl]="taskForm.controls.requirements.controls[i].controls.reqQuantity">
  </div>
</form>
