table {
  width: 100%;
}

tr.expanded-requirement-row {
  height: 0;
}

tr.task-row:not(.expanded-requirement):hover {
  background: whitesmoke;
}

tr.task-row:not(.expanded-requirement):active {
  background: #efefef;
}

.task-row td {
  border-bottom-width: 0;
}

.task-requirements {
  overflow: hidden;
  display: flex;
}

.expandedTaskInfo {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}
